/* ASIDE */
aside{
    background-color: lightgray;
    padding:0 !important;
    border-right: solid 1px grey;
}
.navAside{
    height: 30px;
    background-color: rgb(163, 73, 164);
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding:0;
    margin: auto;
    border-bottom: solid 1px grey;
}
.nameButtonAside{
    padding-right: 5px !important;
    font-size: 1em !important;
}
.asideButton{
    height: 50px;
    background-color: lightgrey;;
    font-size:20px;
    width: 100%;;
    padding:0px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    border: none;
    color: rgb(163, 73, 164);
    outline:none;
}
.asideButton:hover{
    /* background-color: grey; */
    color:white;
    font-size:20px;
    background-color: rgb(163, 73, 164);
    outline:none;
}
.flechaAside{
    height:80vh;
    width:100%;
    
    padding: 15px 5px ;
    color:grey;
}
.flechaAside:hover{
    /* background-color:rgb(163, 73, 164);; */
    /* background-color:grey; */
    cursor: pointer;
    color:purple;
}
.icono{
    padding-right: 4px;;
}
.asideHidden{
    display : block;
}
.centrarIcono{
    display: flex;
    justify-content: center;
}
.rowAside{
    width:100%;
    margin:auto;
}
.colBotonesAside{
    padding:0px !important;
    margin:0px ;
}
.colFlechaAside{
    padding:0px !important;
}

@media (max-width: 767px) {
    .colFlechaAside{
        display: none;
    }

    .asideHidden{
        display : none;
    }
    .asideButton{
        height:50px;
        margin: 0px 0;
     }      
}

