.container{
    display:flex;
    align-items: center;
    min-height: 100vh;
    padding:20px;
}
.cajaForm{
    width:100%;
}
img{
    margin:auto !important;
    width:70% !important;
}
.rowForm{
    display: flex;
    justify-content: center;
}
.textoLabel{
    color: rgb(163, 73, 164);
    font-size:18px;
}
.inputLabel{
    height:30px;
    border: solid 1px rgb(163, 73, 164);
    border-radius: 7px;
    outline: none;
    margin-bottom:10px;
}
.inputRecupero{
    height:30px;
    border: solid 1px rgb(163, 73, 164);
    border-radius: 7px;
    outline: none;
}
.botonSubmit{
    background-color: rgb(163, 73, 164);
    color:white;
    border: solid 1px rgb(163, 73, 164);
    border-radius: 7px;
    outline: none;
    height:40px;
}
.botonSubmit:hover{
    background-color: white;
    color:rgb(163, 73, 164);
    border: solid 1px rgb(163, 73, 164);
}
.mensajeError{
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
.btnPassword{
    height: 30px !important;
    background-color: rgb(163, 73, 164);
    border: solid 1px rgb(163, 73, 164);
    color: white;
    padding:0;
    padding-top:5px;
    padding-left:3px;
    border-radius: 5px;;
}
.btnPassword:hover{
    background-color: white;
    cursor: pointer;
    color: rgb(163, 73, 164); 
    border: solid 1px rgb(163, 73, 164); 
}
.hide{
    display: none;
}
.show {
    display: block;
}
.centrarTexto{
    text-align: center !important;
}
.labelCheckbox{
    padding-left:40px;
}
.recuperar{
    text-align:center;
}
.recuperar a:hover{
    font-weight: bolder;
}
.recuperar a{
    color:rgb(163, 73, 164); 
    text-decoration: none;;
}
.contenedorRecuperar{
    border: solid 1px rgb(163, 73, 164); 
    padding: 0 0 50px 0;
    border-radius: 10px;
}
.alertBorder{
    border-radius: 10px 10px 0px 0px;
}
.tituloRecuperar{
    color:rgb(163, 73, 164); 
    text-align: center;
    margin-bottom:20px;
    margin-top: 50px;
    font-weight: bolder;
}
.errorValidacion{
    font-size: 10px;
    color: red;
}
.eyeButton {
    height: 30px !important;
    color: rgb(163, 73, 164);
    /* padding:5px 0 0 5px; */
    line-height: 30px;;
    
}
.eyeButton:hover{
    cursor: pointer;
}