/* ADMIN */
.botonNew{
    color: rgb(163, 73, 164);
    border: solid 1px rgb(163, 73, 164);
    padding: 0 5px;
    margin:5px;
    text-transform: uppercase;
    min-width: 100px;
    max-width: 150px;
    height:35px;
    text-align: center;
    line-height: 35px;
}
.botonNew:hover{
    cursor: pointer;
    background-color: rgb(163, 73, 164);
    color: white;
}
.cajaEdicion{
    border: solid 1px purple;
    border-radius: 5px;
    margin: 0 10px;
    padding:10px;
}




.header{
    height: 16vh;
}
img{
    width:80%;
    max-width: 300px;
    margin:auto;
}
.logoHeaderResponsive{
    height:20vh;
}
.logoInicioHeader{
    background-image: url("../img/si.jpg");
    height:16vh;
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: left;  
}
.alignRight{
    text-align: right;
    padding-right: 30px;;
}
.centrarTexto{
    text-align: center;
}
.logoHeader{
    display: flex;
    justify-content: center;
    align-items:center;
}
.anchoTotal{
    width:100%;
    margin: auto;
}

a{
    text-decoration: none;
    width: 100px !important;
}
.botones{
    width:100px;
    height: 40px;
    background-color: rgb(163, 73, 164);
    color: white;
    line-height: 40px;
    border: none;
    outline: none;
}
.botones:hover{
    width:96px;
    background-color: white;
    color: rgb(163, 73, 164);
    border: solid 1px rgb(163, 73, 164);
    cursor: pointer;
}



/* GENERALES */
/* contenedor de aside y main */
.contenedorSecundario{
    /* min-height: 84vh; */
    margin:0;
    padding: 0px !important;
}
.cajaInternaPedido{
    padding:24px;
    height:70vh;
    display:flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
aside{
    background-color: lightgray;
    padding:0 !important;
    border-right: solid 1px grey;
}


/* SHARED */
.hidden{
    display: none;
}
p{
    margin:0;
}
.rowBoton{
    width:100% !important;
    margin: auto;
    display: flex;
    justify-content: center;
}
.botonSubmit{
    height:50px;
    background-color: rgb(163, 73, 164);
    border-radius: 10px;
    color:white;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}
.botonSubmit:hover{
    color: yellow;  
}
.botonConfirmar{
    height:40px;
    background-color: rgb(163, 73, 164);
    border-radius: 10px;
    color:white;
    width:200px;
    margin-top:10px;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}



/* ASIDE */
.navAside{
    height: 30px;
    background-color: rgb(163, 73, 164);
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding:0;
    margin: auto;
    border-bottom: solid 1px grey;
}
.asideButton{
    height: 50px;
    background-color: lightgrey;;
    font-size:20px;
    width: 100%;;
    padding:0px;
    text-transform: uppercase;
    border: none;
    color: rgb(163, 73, 164);
    outline:none;
}
.asideButton:hover{
    /* background-color: grey; */
    color:white;
    font-size:20px;
    background-color: rgb(163, 73, 164);
    
    outline:none;
}



/*MAIN */
.navHome{
    height: 30px;
    background-color: rgb(163, 73, 164);;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100% !important;
    padding:0;
    display: flex;
    justify-content: space-between;
       margin: auto;
       border-bottom: solid 1px grey;;
}
main{
    padding:0 !important;
}
.opcionSection{
    width:100%;
    height:94%;
}
.contenedorSeccion{
    width:100%;
    margin:auto;
}
.paddingCero{
    padding:0;
}

.rowTipoProducto{
    background-color: grey;
    color: white;
    border-radius: 10px;;
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    margin:0 auto;
}
.cajaInternaBloque{
    padding:20px 0;
    width: 100%;
    margin: auto;
}
.sectionBloque{
    width:100%;
    padding:0px 20px;
    margin-bottom: 10px;
}
.cajaFlecha{
   display: flex;
   align-items: center;
}


.mensajeConfirmacion{
    height:80vh;
    /* width:80%; */
    display: flex;
    align-items: center;
    text-align: center;
    color:rgb(163, 73, 164);
    /* font-size: 1rem; */
}
.bloque{
    background-color: lightgray;
    margin: 20px;
    border-radius:10px;
    border: solid 1px grey;
}
.textarea{
    width:90%;
    height:100px;
}
.confirmarPedido{
    z-index:3;
    position: absolute;
    top:16vh;;
    left:5%;
    background: rgba(77, 75, 75, 0.7);
    margin:auto;
    border: solid 1px black;
    border-radius:10px;
    width: 90%;
    height:auto;
    min-height:500px;
    COLOR:WHITE;
}

/*SECCIONES */
.logoInicio{
    background-image: url("../img/si.jpg");
    height:100%;
    display: flex;
    align-items: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;  
}
.section{
    width:100%;
    height:100%;
    min-height:80vh;;
}
.subtitle{
    color: rgb(163, 73, 164);
    font-size:20px;
    padding-left: 5px;
}
.titleSection{
    color: rgb(163, 73, 164);
    font-size:18px;
    padding:0 !important; 
    margin:20px;
    text-transform: uppercase;
    border-bottom: solid 1px rgb(163, 73, 164);
}
/* CONFIRMACION */
.rowTitulo{
    background-color: grey;
    color: white;
    border-radius: 10px;;
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    margin:0 auto;
}
.anchoTotal{
    width:100%;
}
.rowProducto{
    margin:5px 0;
    border-bottom:  1px grey;
}
.cardPedido{
    background-color: lightgray;
    color: black;
    min-height: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    border: solid 1px grey;
    border-radius:10px;
}
.cajaProductos{
    display: flex;
    justify-content: space-around;
}
.listadoTitle{
    text-transform: uppercase;
    margin:10px auto 5px;
}
.listado{
    width:90%;
    margin:auto;
    margin-bottom:10px;
}



/* CONFIRMACION PEDIDO */
.confirmacionPedido{
    min-height: 200px;
    border: grey solid 1px;
    border-radius: 10px;
    position: absolute;
    width: 80%;
    z-index: 2;
    background-color: rgba(255, 255, 255);
}
.rowConfirmarPedido{
    text-align: center;
    color: rgb(163, 73, 164);
    width:100%;
    margin-top:20px;
    display: flex;
    justify-content: center;
}



.accordion-header{
    background-color: rgb(163, 73, 164);
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(163, 73, 164);
}
.accordion-button:focus {
    z-index: 3;
    border-color: grey;
    outline: 0;
    box-shadow: none !important;
}
.accordion-button{
    color: white;
    background-color: rgb(163, 73, 164);
}
.accordion-body{
    background-color: lightgray
}
.mensajeConfirmacion{
    height: 100%;
    color: rgb(163, 73, 164);
    width:100% !important;
    margin-left:25%;
    text-align: centerf;
}

.btn-opciones{
    background-color: lightgray !important;
    border-color: red;
}


.bloqueConfirmar{
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    height:80vh;
    width: 100%;
    
    /* position: absolute;
    top:15vh; */
}
.mensajeConfirmar{
    text-align: center;
    z-index: 2;
    height:75vh;
    width: 75%;
    position: absolute;
    top:15vh;
}




.asideHidden{
    display : block;
}
.mainHidden{
    display: block;
}



/* CLASES CON JS */
.botonRemarcado{
    background-color: grey;
    outline: none !important;
    border: none;
    color: white;
}

.headerResponsive{
    display: none;
    z-index: 4;
    height: 80vh;
}


/* seccion iniciar pedido */
.containerIniciarPedido{
    position: relative;
}
.seccionConfirmarPedido{
    position: absolute;
    top:0;
    z-index: 3;
}
.inputProducto{
    border: none;
    background-color: lightgray;
    outline: none;
}
.productoSeleccionado{
    padding-left:50px;
    color: rgb(163, 73, 164)!important;
    font-size: 18px;
}

.iconoBurguer{
    padding:5px;
    border-radius: 4px;;
    border: solid 1px grey;
}


@media (max-width: 767px) {
   /* aside{
       display: none;
   } */
   .logoHeader{
       display: none;
   }
   .headerResponsive{
       display: block;
   }
    .asideHidden{
        display : none;
    }
    .mainHidden{
        display: none;
    }
    .section{
        width:100%;
        height:100%;
        min-height:50vh;;
    }
    .asideButton{
       height:50px;
       margin: 0px 0;
    }    
    .cajaInternaPedido{
        height:40vh;
    }
    .ocultarResponsive{
       display: none;
    }