/* ADMIN */
.contenedorModal{
    position: relative;
}
.modalBox{
    position:absolute;
    top: 0;
    left:12;
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(163, 73, 164);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 3;
}

.errorValidacionForm{
    color: red;
    font-size: 14px;
    text-align: center;
}
.confirmacionNewUser{
    color: green;
    border: solid 1px green;
    text-align: center;
    border-radius: 5px;
    height: 30px;
}
#buscador{
    margin:0 10px;
}
#selectCategoria{
    margin:0 10px;
}
.bg-grey{
    background-color: lightgray;
    padding: 5px;
}
.colBuscador{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.botonReiniciar{
    height:20px;
    color: rgb(53, 52, 52);
    line-height: 20px;
}
.botonReiniciar:hover{
    color: white;
}
.navAdmin{
    margin: 0 20px;
}
.botonNavAdmin{
    background-color: rgb(163, 73, 164) !important;
    border: solid 1px white;
    color: white;
    text-transform: uppercase;
}
.botonNavAdmin:hover{
    background-color: white !important;
    color: rgb(163, 73, 164) !important;
    border: solid 1px rgb(163, 73, 164) !important;
}
.button{
    height: 35px;
    line-height: 32px;;
    border-radius: 5px;
    max-width: 180px;
    text-align: center;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: lightgray;
    border: solid 1px grey;
}
.button:hover{
    cursor: pointer;
    background-color: grey;
    color:white
}
.editButton{
    text-align: center;
    min-width: 25px;
    background-color: lightgray;
    border: solid 1px grey;
    height: 25px;
    border-radius: 5px;
}
.editButton:hover{
    cursor: pointer;
    background-color: grey;
    color:white
}

.contenedorSeccion{
    border: solid 1px purple;
    border-radius: 10px;
    padding:15px;
    margin-top: 30px;
}





.header{
    height: 16vh;
}
img{
    width:80%;
    max-width: 300px;
    margin:auto;
}
.logoHeaderResponsive{
    height:20vh;
}
.logoInicioHeader{
    background-image: url("../img/si.jpg");
    height:16vh;
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: left;  
}
.alignRight{
    text-align: right;
    padding-right: 30px;;
}
.centrarTexto{
    text-align: center;
}
.logoHeader{
    display: flex;
    justify-content: center;
    align-items:center;
}
.anchoTotal{
    width:100%;
    margin: auto;
}

a{
    text-decoration: none;
    width: 100px !important;
}




/* GENERALES */
/* contenedor de aside y main */
.contenedorSecundario{
    /* min-height: 84vh; */
    margin:0;
    padding: 0px !important;
}
aside{
    background-color: lightgray;
    padding:0 !important;
    border-right: solid 1px grey;
}


/* SHARED */
.hidden{
    display: none;
}
p{
    margin:0;
}
.rowBoton{
    width:100% !important;
    margin: auto;
    display: flex;
    justify-content: center;
}
.botonSubmit{
    height:50px;
    background-color: rgb(163, 73, 164);
    border-radius: 10px;
    color:white;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}
.botonSubmit:hover{
    color: yellow;  
}




/* ASIDE */
.navAside{
    height: 30px;
    background-color: rgb(163, 73, 164);
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding:0;
    margin: auto;
    border-bottom: solid 1px grey;
}
.asideButton{
    height: 50px;
    background-color: lightgrey;;
    font-size:20px;
    width: 100%;;
    padding:0px;
    text-transform: uppercase;
    border: none;
    color: rgb(163, 73, 164);
    outline:none;
}
.asideButton:hover{
    /* background-color: grey; */
    color:white;
    font-size:20px;
    background-color: rgb(163, 73, 164);
    
    outline:none;
}



/*MAIN */
.navHome{
    height: 30px;
    background-color: rgb(163, 73, 164);;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100% !important;
    padding:0;
    display: flex;
    justify-content: space-between;
       margin: auto;
       border-bottom: solid 1px grey;;
}
main{
    padding:0 !important;
}

.contenedorSeccion{
    width:100%;
    margin:auto;
}
.paddingCero{
    padding:0;
}

.cajaInternaBloque{
    padding:20px 0;
    width: 100%;
    margin: auto;
}
.sectionBloque{
    width:100%;
    padding:0px 20px;
    margin-bottom: 10px;
}


.mensajeConfirmacion{
    height:80vh;
    /* width:80%; */
    display: flex;
    align-items: center;
    text-align: center;
    color:rgb(163, 73, 164);
    /* font-size: 1rem; */
}
.bloque{
    background-color: lightgray;
    margin: 20px;
    border-radius:10px;
    border: solid 1px grey;
}
.textarea{
    width:90%;
    height:100px;
    margin:auto;
}


/*SECCIONES */
.logoInicio{
    background-image: url("../img/si.jpg");
    height:100%;
    display: flex;
    align-items: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;  
}
.section{
    width:100%;
    height:100%;
    min-height:80vh;;
}
.borderBottom{
    margin-bottom: 10px;
}
.subtitle{
    color: rgb(163, 73, 164);
    font-size:20px;
    padding-left: 5px;
}
.titleSection{
    color: rgb(163, 73, 164);
    font-size:18px;
    padding:0 !important; 
    margin:20px;
    text-transform: uppercase;
    border-bottom: solid 1px rgb(163, 73, 164);
}
/* CONFIRMACION */
.rowTitulo{
    background-color: grey;
    color: white;
    border-radius: 10px;;
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    margin:0 auto;
}
.anchoTotal{
    width:100%;
}
.rowProducto{
    margin:5px 0;
    border-bottom:  1px grey;
}




/* CONFIRMACION PEDIDO */
.confirmacionPedido{
    min-height: 200px;
    border: grey solid 1px;
    border-radius: 10px;
    position: absolute;
    width: 80%;
    z-index: 2;
    background-color: rgba(255, 255, 255);
}
.rowConfirmarPedido{
    text-align: center;
    color: rgb(163, 73, 164);
    width:100%;
    margin-top:20px;
    display: flex;
    justify-content: center;
}

.productoSeleccionado{
    background-color: lightgray;
}

.accordion-header{
    background-color: rgb(163, 73, 164); */
    border-radius: 5px;
}
.accordion-button:not(.collapsed) {
    color: white;
    border-radius: 5px;
    background-color: rgb(163, 73, 164);
}

.accordion-button:focus {
    z-index: 3;
    border-color: grey;
    outline: 0;
    box-shadow: none !important;
}
.accordion-button{
    color: white;
    border-radius: 5px;
    background-color: rgb(163, 73, 164);
}
.accordion-body{
    background-color: lightgray
}
.mensajeConfirmacion{
    height: 100%;
    color: rgb(163, 73, 164);
    width:100% !important;
    margin-left:25%;
    text-align: centerf;
}

.asideHidden{
    display : block;
}
.mainHidden{
    display: block;
}



/* CLASES CON JS */
.botonRemarcado{
    background-color: grey;
    outline: none !important;
    border: none;
    color: white;
}
.headerResponsive{
    display: none;
    z-index: 4;
    height: 80vh;
}


.iconoBurguer{
    padding:5px;
    border-radius: 4px;;
    border: solid 1px grey;
}

@media (max-width: 992px) {
    .colBuscador{
        margin:5px 0;
        padding: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}
@media (max-width: 767px) {
   /* aside{
       display: none;
   } */
   .logoHeader{
       display: none;
   }
   .headerResponsive{
       display: block;
   }
    .asideHidden{
        display : none;
    }
    .mainHidden{
        display: none;
    }
    .section{
        width:100%;
        height:100%;
        min-height:50vh;;
    }
    .asideButton{
       height:50px;
       margin: 0px 0;
    }    
    .ocultarResponsive{
       display: none;
    }
}