/*
TO DO
    1.- MOVER ESTILOS HEADER A OTRO ARCHIVO
    2.- REVISAR COLORES
*/
/*  HEADER   */
.header{
    height: 21vh ;
}
.logoFull{
    height: 15vh;
    display: flex;
    justify-self: center;
    margin: auto!important;
}


/* NAV  */
.navegador{
    background-color: purple;
    color: white;
    height: 6vh;
    text-transform: uppercase;
}
.nav-item{
    height: 6vh;
}
.nav-link{
    text-transform: uppercase;
    text-decoration: none;
    color: white !important;
    height: 6vh;
    text-align: center;
}
.nav-link:hover{
   
    font-weight: bolder;
    border-bottom: solid 3px white;
}

/* NAVEGADOR SECUNDARIO   */
.submenu{
    margin-top: 10px;
}

/* CLASES PARA DINAMISMO */
.hide{
    display: none;
}
.show{
    display: block;
}


/*  CLASES COMPARTIDAS   */
.centrarTexto{
    text-align: center;
}
.errorValidacion{
    font-size: 10px;
    color: red;
}
.marginl100{
    margin-left: 105px;
}
.columna {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
}
.colBuscador{
    display:flex;
    flex-direction: row;
    margin-left:10px;
    align-items: center;
    justify-content: space-around;
}

/*  CLASES BOTONES  */
.botonConfirmar {
    background-color: rgb(163, 73, 164);
    color: white;
    padding: 0px;
    line-height: 30px;
    height: 30px;
    width:90px !important;
}
.botonConfirmar:hover {
    background-color: white;
    color: rgb(163, 73, 164);
    border: solid 1px rgb(163, 73, 164);
}
.botonCancelar {
    background-color: rgb(236, 130, 130);
    color: white;
    padding: 0px;
    height: 30px;
    line-height: 30px;
    width: 90px !important;
}
.botonCancelar:hover {
    background-color: white;
    color: rgb(236, 130, 130);
    border: solid 1px rgb(236, 130, 130);
}
.trashButton{
    display:flex !important;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    color:white;
    background-color: rgb(236, 130, 130);
    height: 25px;
    border-radius: 5px;
    padding:0 !important;
}
.trashButton:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(236, 130, 130);
    border: solid 1px rgb(236, 130, 130);
}
.editButton{
    display:flex !important;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    background-color: rgb(163, 73, 164);
    color:white;
    height: 25px;
    border-radius: 5px;
    padding:0 !important;
}
.editButton:hover{
    cursor: pointer;
    background-color: white;
    color:rgb(163, 73, 164);
    border: solid 1px rgb(163, 73, 164);
}
/* FILTROS */
.botonFiltro{
    display:flex !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 73, 164);
    color:white;
    height: 25px;
    border-radius: 5px;
    padding:0 !important;
    height: 30px;
    width: 30px !important;
    border: solid 1px rgb(163, 73, 164);
}
.botonFiltro:hover{
    cursor: pointer;
    background-color: white;
    color:rgb(163, 73, 164);
    border: solid 1px rgb(163, 73, 164);
}
.botonQuitarFiltro{
    background-color: rgb(163, 73, 164);
    color:white;
    height: 25px;
    border-radius: 5px;
    padding:0 !important;
    height: 30px;
    width: 100px;
    border: solid 1px rgb(163, 73, 164);
}
.botonQuitarFiltro:hover{
    cursor: pointer;
    background-color: white;
    color:rgb(163, 73, 164);
    border: solid 1px rgb(163, 73, 164);
}
.buttonSort{
    background-color: white !important;
    border: none
}
.rowFiltro{
    padding:10px;
}
.violeta {
    color: rgb(163, 73, 164)
}

@media (max-width: 767px) {
    .headerFull{
        display: none !important;
    }
    .headerResponsive{
        display: block;
    }
}
